torch==2.2.1 
torchvision==0.17.1 
torchaudio==2.2.1 
torchmetrics
xformers==0.0.25 
kornia einops 
x_transformers
pytorch-lightning 
torch-fidelity 
triton
tensorboard 
torchinfo 
facexlib s
upervised_fcn 
vector-quantize-pytorch
timm 
peft 
albumentations 
accelerate 
transformers 
diffusers 
datasets 
safetensors
Pillow i
mageio 
imageio-ffmpeg 
scikit-image 
opencv-python
numpy 
pandas 
scipy 
scikit-learn
hydra-core 
optuna  
ydra-optuna-sweeper 
omegaconf
seaborn 
yellowbrick 
matplotlib
tqdm 
ninja 
h5py 
PyYaml 
click 
requests 
pyspng 
pudb 
more-itertools 
basicsr 
evaluate
openslide-python 
faiss-gpu
wandb==0.16.4
aim 
toml
git+https://github.com/marcojira/fld.git
